.ICEauthority
.Xauthority
.bash_history
.bashrc.save
.cahe/
.config/
.dbus/
.gitconfig/
.local/
.mozilla/
.profile
.python_history
.sudo_as_admin_successful
.vim/.netrwhist
.viminfo
.wget-hsts
.bash_logout
.cache/
.gitconfig
.xorgxrdp.10.log
.xorgxrdp.10.log.old
.xsession-errors
.lesshst 
Templates/
Notepad++ NppExec.txt
Notepad++ NppExec.txt
Notepad++ NppExec.txt
