@import "./styles/define-color.css";
@import "./styles/custom/pad.css";
@import "./styles/group/menu.css";
@import "./styles/group/power.css";
@import "./styles/pulseaudio/slider.css";

* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @font;
}

#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network,
#temperature,
#tray,
#workspaces {
  /* background-image: linear-gradient(45deg, shade(white, 0.2) 50%, shade(white, 0.3) 50%); */
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#workspaces button {
  border-radius: 8px;
  margin: 3px 0;
  padding: 0 3px;
  color: @font;
  animation: slide 1s ease-in infinite;
  transition: all 0.2s cubic-bezier(0.55, -0.68, 0.48, 1.682);
  border: 1px solid transparent;
}

#workspaces button.active {
  border: 1px solid @border;
  margin: 3px 0;
  padding: 0 12px;
}

#workspaces button.urgent {
  color: red;
  border-radius: 1em;
  animation: blink 1s ease-in infinite;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  background: @background-hover;
  border: @background-hover;
  border: 1px solid shade(@border, 0.8);
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  border-radius: 15px;
  border: 2px solid;
}

@keyframes blink {
  to {
    color: white;
  }
}
