@import "./styles/custom/pad.css";
@import "./styles/group/menu.css";
@import "./styles/group/power.css";
@import "./styles/hyprland/workspaces.css";
@import "./styles/pulseaudio/slider.css";
@import "./styles/tooltip.css";
@import "./styles/window_waybar.css";

* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 14px;
  min-height: 0;
}

#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network,
#temperature,
#tray,
#workspaces {
  /* background-image: linear-gradient(45deg, shade(white, 0.2) 50%, shade(white, 0.3) 50%); */
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}
