@import "./styles/define-color.css";
@import "./styles/custom/pad.css";
@import "./styles/group/menu.css";
@import "./styles/group/power.css";
@import "./styles/pulseaudio/slider.css";

* {
  border: none;
  border-radius: 0;
  font-family: sans-serif;
  font-size: 14px;
  min-height: 0;
}

window#waybar {
  background: @background;
  color: @font;
}

#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#memory,
#pulseaudio,
#network,
#temperature,
#tray,
#workspaces {
  background: @background;
  margin: 0 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 15px;
}

#workspaces button {
  padding: 0 2px;
  color: @font;
}

#workspaces button.active {
  border: 1px solid @border;
  border-radius: 8px;
}

#workspaces button.urgent {
  color: red;
  border-radius: 1em;
}
#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
}
#workspaces button:hover {
  background: @background-hover;
  border: @background-hover;
}

#window {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background: rgba(43, 48, 59, 0.5);
  border-bottom: 3px solid rgba(100, 114, 125, 0.5);
  color: white;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  border-radius: 10px;
}

@keyframes blink {
  to {
    background-color: white;
    color: black;
  }
}
